/* the font */
@import url('https://fonts.cdnfonts.com/css/neutral-face');

@font-face {
    font-family: neutralFaceBold;
    src: url(/fonts/neutralface-bold-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #161916;
}

html {
    scroll-behavior: smooth;
}

/* text */

h1 {
    font-family: neutralFaceBold;
    font-weight: 400;
    font-style: normal;
    /* font-size: 120px; */
    font-size: 8.3vw;
    width: 100%;
    color: white;
}

h2 {
    font-family: neutralFaceBold;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
}

h3 {
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    /* font-size: 3.47vw; */
    width: 100%;
    color: white;
}

h4 {
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
    display: inline;
}

h4.bold {
    font-family: neutralFaceBold;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
    display: inline;
}

h5 {
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/* loader!! */

#preloader{
    background: #161916 url(/images/loading.gif) no-repeat center center;
    background-size: 10%; /* size of the gif, make it responsive! */
    height: 100vh;
    width: 100%;
    opacity: 1;
    position:fixed;
    display: block;
    z-index: 999;
}


/* header stuff */

.hr {
    width: 95%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    z-index:99;
    background-color: rgba(0,0,0,0); 
    background-image: linear-gradient(rgba(22,25,22,0.5), rgba(22,25,22,0));
}
.fixed-footer {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    bottom: 0;
    z-index:1;
    background-color: rgba(0,0,0,0); 
    background-image: linear-gradient(rgba(22,25,22,0), rgba(22,25,22,0.5));
}

#nav-title {
    margin-right: auto;
    padding: 20px 25px;
    padding: 0.5vw 1.7vw;
}

nav a {
    text-decoration: none;
    padding: 20px 25px;
    display: inline-block;
}

header li {
    list-style: none;
    display: inline;
}

header a {
    margin-left: auto;
    text-decoration: none;
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

hr.top {
    padding-top: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid white;
    width: 95%;
    background: none;
    margin: 0 auto;
    position: fixed;
}

hr.bottom {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 5px;
    border-top: 1px solid white;
    width: 95%;
    background: none;
    margin: 0 auto;
}




.fixed-header {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    top: 0;
    z-index:99;
}

.fixed-footer .hr {
    padding: 10px;
    text-align: right;
}



/* first section */

.start {
    padding: 70px 0 0 0;
}

.description {
    margin: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 40px 80px;
}

.description h3 {
    text-align: left;
    padding: 10px 0;
}

.description h4 {
    padding-bottom: 25px;
    text-align: left;
}

li {
    list-style: none;
    display: inline;
}

.description ul {
    padding: 0;
    display: block;
    justify-content: space-between;
}

.one {
    grid-column: 1;
    padding: 160px 0;
}

.two {
    grid-column: 2;
    padding: 12px 0 70px;
}

.two a{
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: white;
    margin: 0 10px;
    text-align:center;
    text-decoration: underline;
}



.two img {
    max-width: 100%;
    max-height: 100%;
    padding: 20px;

}
.two video {
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 40px;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content:center;
}

.column {
    width: 100%;
}

.ughh {
display:grid;
padding: 30px 0;
}

.ughh h4{
    text-align:center;
}




@media screen and (max-width: 1200px) {

    .row {
        display: block;
        max-width: 100%;
        margin: 100px 0 0;
    }

    .two img {
        padding: 10px;
    }

    .description {
        gap: 40px 30px;
    }

}

@media screen and (max-width: 700px) {

    #preloader{
        background-size: 20%; /* size of the gif, make it responsive! */
    
    }
    

    .description {
        margin: 30px 20px;
        display: block;
    }
    
    ul {
        padding: 0;
    }

    #nav-title {
        padding: 20px 0px;
    }

    nav a {
        padding: 20px 15px;
    }

}


@media screen and (max-width: 500px) {

    #preloader{
        background-size: 20%; /* size of the gif, make it responsive! */
    
    }

    header a {
        
        padding: 10px 0px;
        font-size: 12px;
    }

    nav a {
        padding: 10px 10px;
        font-size: 12px;
    }

}