/* the font */
@import url('https://fonts.cdnfonts.com/css/neutral-face');

@font-face {
    font-family: neutralFaceBold;
    src: url(/fonts/neutralface-bold-webfont.woff);
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
        background-color: #161916;

}

html {
    scroll-behavior: smooth;
}

/* text */

h1 {
    font-family: neutralFaceBold;
    font-weight: 400;
    font-style: normal;
    /* font-size: 120px; */
    font-size: 8.3vw;
    width: 100%;
    color: white;
}

h2 {
    font-family: neutralFaceBold;
    font-weight: 400;
    font-style: normal;
    font-size: 70px;
    margin-bottom: 10px;
    color: white;
}

h3 {
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    /* font-size: 3.47vw; */
    width: 100%;
    color: white;
}

h4 {
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

h4.bold {
    font-family: neutralFaceBold;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

h5 {
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-family: "neue-haas-unica", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    position: relative;
}

/* loader!! */

#preloader{
    background: #161916 url(/images/loading.gif) no-repeat center center;
    background-size: 17%; /* size of the gif, make it responsive! */
    height: 100vh;
    width: 100%;
    opacity: 1;
    position:fixed;
    display: block;
    z-index: 999;
}

/* header stuff */

.hr {
    width: 95%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: fixed;
    width: 100%;
    z-index:99;
    background-color: rgba(0,0,0,0); 
    background-image: linear-gradient(rgba(22,25,22,0.8), rgba(22,25,22,0));
    z-index: 999;
}

#nav-title {
    margin-right: auto;
    padding: 20px 25px;
    padding: 0.5vw 1.7vw;
}

nav a {
    text-decoration: none;
    padding: 20px 25px;
    display: inline-block;
}

header li {
    list-style: none;
    display: inline;
}

.headerLink {
    margin-left: auto;
    text-decoration: none;
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}

hr.top {
    padding-top: 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid white;
    width: 95%;
    background: none;
    margin: 0 auto;
    position: fixed;
}

hr.bottom {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 5px;
    border-top: 1px solid white;
    width: 95%;
    background: none;
    margin: 0 auto;
}

.fixed-footer {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    bottom: 0;
    z-index:1;
    background-color: rgba(0,0,0,0); 
    background-image: linear-gradient(rgba(22,25,22,0), rgba(22,25,22,0.8));
}

.fixed-header {
    width: 100%;
    position: fixed;
    padding: 10px 0;
    top: 0;
    z-index:99;
    
}

.fixed-footer .hr {
    padding: 10px;
    text-align: right;
}



/* first section */

.container {

    background-image: url("/images/background.gif");
    height: 100vh;
    width: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    align-items: end;
}

.caption {
    display: grid;
    grid-template-columns: 1.7fr 1.2fr;
    width: 100%;
    color: #000;
    justify-content: start;
    justify-items: start;
    justify-content: center;
    align-content: center;
    padding: 30px 0;
    padding-left: 30px;
    z-index: 100;
}

.left { 
    grid-column: 1;
    align-self: end;
}

.right {
    grid-column: 2;
    height: 80vh;
    align-self:start;
    justify-self:start;
    padding: 1vw;
    z-index: 0;
}

.icon{
    width: 50px;
    margin: 1vh 2vw;
}


.right img{
    width: 100%;

}

.caption h1 {
    width: 100%;
}

.caption h3 {
    width: 100%;
}

.caption h4 {
    width: 70%;
}

/* .typewriter h1{
    overflow: hidden;
    border-right: .1em solid white;
    white-space: nowrap;
    animation: typing 1s steps(20, end) forwards, blinking .8s infinite;
    width: 0%;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blinking {
    from { border-color: transparent }
    to { border-color: white; }
  } */


/* second section, image grid  */

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    justify-content: center;
}

.column {
    margin-top: 20px;
    flex: 33%;
    max-width: 33%;
    padding: 0 10px;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.column figure{
    margin-bottom:20px;
}
.zoom {
    overflow: hidden;
    border-radius: 20px;
}

.zoom img {
    transition: transform .5s ease;
    vertical-align: middle;
    width: 100%;
}

.zoom:hover img {
    transform: scale(1.05);
}

figure h4.bold {
    margin: 3px;
    margin-top: 8px;
}

figure h4 {
    margin: 3px;
}

.selected {
    margin: 200px 0;
}

.selected h2 {
    text-align: center;
}

.selected h3 {
    padding-bottom: 100px;
    text-align: center;
}


/* third section */

.downloads {
    margin: 100px 9VW 200px;
    /* margin: 200px 0; */
}

.downloads h2 {
    text-align: center;
}

.downloads h4 {
    padding-bottom: 25px;
    text-align: center;
    padding: 0 20px;
}

.downloadbutton {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    visibility:hidden;
    padding-top:20px;

}
.file {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10px;
}

.file h4 {
    padding: 10px;
    padding-left: 20px;
    margin: 0 auto;
    display: flex;
    margin-top: auto;
    width: 20%;
    margin-bottom: auto;
    justify-content: left;
}

.file h5 {
    padding: 15px;
    font-size: 6vh;
    width: 60%;
    margin: auto 0;
    padding-left: 10px;
    text-align: left;
}

.file a {
    /* text-decoration: none; */
    color: white;
}
.file a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.file a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

hr.download {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    padding-top: 5px;
    border-top: 1px solid white;
    background: none;
    margin: 0 auto;
}



/* about section */
.about {
    margin: 100px 9VW 200px;
}

.leftpar {
    width: 400px;
    margin: 20px auto 50px 0;
    text-align: left;
}

.rightpar {
    width: 400px;
    margin: 50px 0 20px auto;
    text-align: right;
}

/* contact section */

.letstalk {
    margin: 20px 35px;
    padding-top: 90px;
    height: 100vh;
    display: grid;
}

.letstalk h3 {
    width: 60%;
}

button.button {
    border-radius: 100rem;
    margin:20px 0;
    padding: .8rem 3.5rem;
    color: transparent;
    border: solid 3px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #48cfa7, #99ff99);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #161916 inset;
  }

  h6{
    font-family: 'Neutral Face', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(90deg, #48cfa7, #99ff99);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  

.message {
    display: grid;
    width: 33.33%;
    align-items: end;
    justify-content: start;
    align-content: center;
    justify-items: start;
    margin: auto 0 0 0;
    padding-bottom: 10px;
    z-index: 100;
}


.socials {
    display: flex;
    justify-content: space-between;
    width: 80%
}

.socials h4 {
    display: inline;
}

.socials a {
    text-decoration: none;
    color: white;
}

.socials a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.socials a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.socials img {
    fill: white;
}

.altsocials {
    visibility:hidden;
    display:none;
    padding-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .message {
       width: 50%;
    }

    .downloads, .about{
        margin: 100px 4VW 200px;
    }
    .file h5{
        padding: 10px 0px;
        font-size: 5vh;
    }

    .caption h4 {
        width: 90%;
    }

    .letstalk h3 {
        width: 70%;
    }

    .letstalk h1{
        font-size: 100px;
    }

    .right img{
        width: 100%;
        padding: 0px 30px 150px 0px;
    }

}

@media screen and (max-width: 800px) {

    #preloader{
        background-size: 20%; /* size of the gif, make it responsive! */
    
    }
    
    #nav-title {
        padding: 20px 0px;
    }

    nav a {
        padding: 20px 15px;
    }

    .container {
        max-width: 100%;
        max-height: 100vh;
        align-items: center;
    }

    .caption {
        padding: 20px 10px;

    }

    .caption h1 {
        width: 100%;
        font-size: 13.5vw;
    }

    .caption h3 {
        width: 100%;
        font-size: 6vw;
    }

    .letstalk h3 {
        width: 100%;
        font-size: 6vw;
    }


    .caption h4 {
        width: 90%;
    }

    .letstalk h1 {
        width: 100%;
        font-size: 14vw;
    }

    .selected h2{
        padding: 0 10px;
        font-size: 12vw;
    }

    .caption{
        display: block;
        max-width:100% 
    }

    .right{
        display: none;
    }
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .file {
        display: none;
    }

    hr.download {
        display: none;
    }

    .about {
        margin: 180px 20px;
    }

    .downloads {
        margin: 300px 20px;
    }

    .downloads h2 {
        font-size: 12vw;
    }

    .downloadbutton {
        visibility:visible;
    }

    .leftpar,
    .rightpar {
        width: 80%;
    }

    ul {
        padding: 0;
    }

    .caption {
        margin: 0px;
    }

    .letstalk {
        margin: 0 20px;
    }

    .message {
        width: 60%;
        padding-bottom: 30px;
    }


}


@media screen and (max-width: 500px) {

    #preloader{
       
        background-size: 40%;
      
    }
    .container {

        background-image: url("/images/testbg.png");

    }

    .about {
        margin: 200px 20px;
    }

    header {
        padding: 15px 10px;
    }

    .headerLink {
        padding: 10px 0px;
        font-size: 12px;
    }

    .caption h4 {
        width: 95%;
    }



    nav a {
        padding: 10px 10px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
        padding: 0
    }

    .leftpar,
    .rightpar {
        font-size: 20px;
    }

    .message {
        width: 80%;
        padding-bottom: 20px;
    }

    .letstalk h1{
        font-size: 13.5vw;
    }

    .socials {
        display:none;
    }

    .downloads h4 {
        padding: 0 5px;
    }

    h6{
        font-size: 1.2rem;
    }

    .altsocials {
        visibility: visible;
        display: block;
    }

    .altsocials a{
        text-decoration:underline;
    }


}